.footer {
  display: flex;
  /* position: fixed; */
  padding: 20px 0 20px 2%;
  gap: 15%;
  background-color: grey;
  text-align: center;
  color: white;
  font-size: large;
  padding: auto;
  min-width: 1235px;
}

.foothead {
  padding: 15px 0;
  font-size: x-large;
  /* margin-bottom: 5px; */
}
.email {
  margin: 15px;
  font-weight: bold;
}
.logo {
  height: 30px;
  width: 30px;
  margin: 15px;
}

@media screen and (max-width: 600px) {
  .footer {
    display: block;
    min-width: 100px;
    max-width: 100%;
  }
}
