.footer {
  display: flex;
  padding: 10px 0 10px 2%;
  gap: 15%;
  background-color: black;
  text-align: center;
  color: white;
  font-size: large;
  padding: auto;
  min-width: 1235px;
  /* margin-top: 100px; */
}

.foothead {
  padding: 10px 0;
  font-size: x-large;
  /* margin-bottom: 5px; */
}
.email {
  margin: 5px;
  font-size: large;
  /* font-weight: bold; */
}
.logo {
  height: 30px;
  width: 30px;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .footer {
    display: block;
    min-width: 400px;
    max-width: 400px;
  }
}
