.header {
  display: flex;
  position: fixed;
  /* background-image: url("../public/team.jpeg");
  background-repeat: no-repeat;
  background-position: 0% -29%;
  background-size: cover; */
  height: 350px;
  min-width: 1280px;
}

.background-video {
  position: fixed;
  margin-top: 50px;
  margin-left: 177px;
  /* left: 0;  */
  min-width: 1103px;
  height: 300px;
  object-fit: cover;
  z-index: -1;
}

.image {
  height: 120px;
  width: 10%;
}

.headerText {
  display: flex;

  color: black;
  /* height: 50px; */
  /* font-size: 20px; */
  min-width: 860px;
  /* padding: 10px 22.5%; */
}

.headerText1 {
  background-color: black;
  color: white;
  height: 40px;
  padding: 10px 0 10px 35%;
  text-align: right;
}

.headerText2 {
  background-color: yellow;
  text-align: left;
  height: 40px;
  padding: 10px 22% 10px 0;
}

.languages {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  height: 60px;
  /* flex-shrink: 0; */
  background-color: rgb(255, 30, 0);
  padding-right: 6%;
  padding-left: 5%;
}

.buttonLang {
  padding: 10px 12px;
  margin-top: 10px;
  border-radius: 12px;
  font-size: large;
}

.buttonLang.active {
  background-color: yellow;
  color: black;
}

.buttonLang.inactive {
  background-color: black;
  color: white;
}

@media screen and (max-width: 600px) {
  .header {
    height: 80px;
    max-width: 100%;
    background-image: none;
  }
  .headerText {
    min-width: 220px;
  }

  .image {
    height: 50px;
    width: 5%;
  }
  .languages {
    height: 60px;
    padding-right: 1%;
    min-width: 120px;
    padding-right: 1%;
    padding-left: 1%;
  }
  .buttonLang {
    padding: 3px;
    font-size: small;
  }
  .background-video {
    display: none;
  }

  .headerText1 {
    height: 40px;
    padding: 20px 0 0 12%;
    font-size: medium;
  }
  .headerText2 {
    height: 40px;
    padding: 20px 5% 0 0;
    font-size: medium;
    /* min-width: 180px; */
  }
}

/* @media screen and (max-height: 800px) {
  .header {
    background-image: none;
    height: 60px;
  }
  .image {
    height: 70px;
   
  }
  .background-video{
    display: none;
  }

  


} */
