.menu {
  display: flex;
  min-height: 1000px;
  /* position: fixed; */
  /* height: 1000px; */
  /* margin-top: 350px; */
}
.menuList {
  /* position: fixed; */
  background-color: red;
  padding: 10px 1% 100px 1%;
  min-width: 150px;
  /* position: fixed; */
}
.buttonMenu {
  display: block;
  margin-top: 15px;
  padding: 10px 32px;
  border-radius: 12px;
  width: 150px;
  font-size: large;
}

.buttonMenu.active {
  background-color: yellow;
  color: black;
}
.buttonMenu.inactive {
  background-color: black;
  color: white;
}
.fixButton {
  position: fixed;
}
.contentBody{
  background-color: rgb(252, 252, 172);
}
.mobileButton {
  display: none;
}

@media screen and (max-width: 600px) {
  .menuList {
    display: none;
  }
  .menuList.active {
    display: block;
  }
  .menu {
    display: flex;
    gap: 0;
    min-width: 400px;
    max-width: 400px;
  }

  .mobileButton {
    display: flex;

    height: 5px;
    width: 5px;
    font-size: 50px;
    border: 0;
  }
  .mobileContentMargin {
    margin-left: 40px;
  }
}

@media screen and (max-height: 700px) {
  .fixButton {
    margin-top: 50px;
  }
}
