.menu {
  display: flex;
  min-height: 500px;
  /* margin-top: 20px; */
}
.menuList {
  background-color: blue;
  padding: 10px 1% 100px 1%;
}
.buttonMenu {
  display: block;
  margin-top: 20px;
  padding: 15px 32px;
  border-radius: 12px;
  width: 150px;
}

.buttonMenu.active {
  background-color: green;
  color: white;
}
.firstMenu {
  margin-top: 50px;
}

.mobileButton {
  display: none;
}

@media screen and (max-width: 600px) {
  .menuList {
    display: none;
  }
  .menuList.active {
    display: block;
  }
  .menu {
    display: flex;
    gap: 0;
  }

  .mobileButton {
    display: flex;

    height: 5px;
    width: 5px;
    font-size: 50px;
    border: 0;
  }
  .mobileContentMargin {
    margin-left: 40px;
  }
}
